tr{
    vertical-align: baseline; 
}

.cart__image-box{
    width: 100px;
    background: #000;
}
.cart__image-box img{
    width: 100%;
}
.cart__item-del{
    cursor: pointer;
}
 
.cart__item-del{
    width: 100px; 
    transform: scale(1.1);
}
.cart__page-btn a:hover{
    color:white
}
.cart__subtotal span{
    color: #df2020;
    font-size:1.5rem;
}

@media only screen and (max-width: 768px){
    th,td {
        font-size: 0.8rem;
    }
}