.category__item{
    background-color: #fde4e4;
    padding: 30px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}
.category__item:hover{
    transform: translateY(-15px);
}

.food__category{
    background-color: #df2020;
    text-align: center;
    margin-top: 30px;
    padding: 20px 0;
    border-radius:8px;
}
.food__category button {
  border: none;
  outline: none;
  padding: 7px 20px;
  background: transparent;
  color: #fff; 
}
.food__category button img{
    width: 20px;
    height: 20px;
}
.foodBtnActive{
    background-color: #fff!important;
    border-radius:5px;
    color: #df2020 !important;
}