.common__section{
    background: linear-gradient(#212245aa,#2f3157be),
     url("../assets/images/service-01.png");
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     padding: 80px 0;
}