.footer{
    padding: 50px 0 30px 0;
    background-color: #fde4e4;
}

.logo.footer__logo img {
 width: calc(100% - 80%)!important;
 margin-bottom: 15px;
}

.logo.footer__logo h5 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 15px;
}
.footer__logo p {
    font-size: 0.9rem;
    color: #333;
    line-height: 28px;
}


.delivery__time-item {
    background: transparent!important;
}
.delivery__time-item span{
    font-weight: 600;
    font-size: 1rem;
    color: #222145; 
    background: transparent;
}
.delivery__time-item p{ 
    color: #222145;  
    font-weight: 500;
}

.footer__title{
    font-size: 1.1rem;
    color: #212245;
    font-weight: 600;
}
.newsletter{
    padding: 5px;
    border: 1px solid #212245;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items:center;
}
.newsletter input{
    background: transparent;
    border: none;
    outline: none;
}
.newsletter input:focus{
    outline: none;
}
.newsletter input::placeholder{
    color: #212245;
}

.newsletter span{
    background: #df2020;
    padding: 7px 30px;
    border-radius: 5px;
    cursor: pointer;
}
.newsletter span i{
    color: #fff;
}

.social__links span{
    /* padding: 5px 10px; */
    border-radius:50%;
    background-color: #df2020;
    color: #fff;
    display: inline-block;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    /* cursor: pointer; */
}

.copyright__text{
    font-size: 0.8rem;
    color: #df2020;
}
        
@media only screen and (max-width: 992px){
    .newsletter input{
        padding: 7px;
        font-size: 0.7rem;
    }
    .newsletter span{
        padding: 4px 20px;
        font-size: 0.7rem;
    }
}

@media only screen and (max-width: 768px){
    .footer__title{
        font-size: 0.9rem;
    }
    .delivery__time-item span{
        font-size: .8rem;
    }
    .delivery__time-item p{
        font-size: .7rem;
        margin-bottom: 0;
    }
    .newsletter input{
        padding: 7px;
        font-size: 0.7rem;
    }
    .newsletter span{
        padding: 4px 20px;
    }
}

@media only screen and (max-width: 576px){
    .copyright__text{
        text-align: center;
    }
    .social__links{
        justify-content: center;
    }
    .social__links p{
        font-size: 0.8rem;
    }
    .social__links span{
        padding: 4px;
    }
    .social__links span a{
        font-size: 0.7rem;
    }
}