.hero__content{
    padding-top: 70px;
}
.hero__title{
    font-size: 2.5rem;
    line-height: 55px;
}
.hero__title span{
    color: #df2021;
}

.hero__content p {
    font-size: 1rem;
    line-height: 30px;
    color: #777;
}
/*  */
.hero__btns button{
    border: none;
    outline: none;
    padding: 7px 20px;
    border-radius: 5px;
    cursor: pointer; 
    font-weight: 600;
}
.order__btn{
    background-color: #df2021;
    color: #fff;
    transition: 0.3s;
}
.order__btn:hover{
    background-color: #212245;
    color: #fff;
}
.hero__btns .foods__btn{
    background: transparent;
    border: 2px solid #df2021; 
}
.hero__btns .foods__btn a {
    color: #df2021;
}
.hero__service p{
    color: #212245;
    font-weight: 600;
    font-size: .9rem;
}

.shopping__icon i {
    padding: 5px;
    background: #df2021;
    color: #fff;
    border-radius: 50%;
}