.feature__title span{
   color:#df2020;

}
.feature__subtitle{
   color: #df2020;
}
.feature__text{
    color: #777;
}

.feature__item p {
    color: #777;
}
/*  */
.why__fastFood{

}
.fastFood__title span{
    color:#df2020;
}
.fastFood__desc{
    color:#777;
    line-height: 28px;
}

.choose__us-title{
    font-weight: 600;
    margin-bottom: 10px;
}
.choose-us-title i{
    color: #df2020;
    font-weight: 500;
}
.choose__us-desc{
    color:#777;
}

.testimonial{

}
.testimonial__subtitle{
    color:#df2020;
}
.testimonial__title span{
    color:#df2020;
}
@media only screen and (max-width: 768px){
    .hero__content h5{
        font-size: 1rem;
    }
    .hero__content p{
        font-size: 0.8rem;
        line-height: 25px;
    }
    .hero__title{
        font-size: 1.5rem;
        line-height: 45px;
    }
     .hero__btns btn{
        padding: 5px 15px;
        font-size: 0.7rem;
    }
    .hero__service p {
        font-size: .7rem;
    }

    .feature__subtitle{
        font-size: 1rem;
    }
    .feature__title{
        font-size: 0.8rem;
        margin-bottom: 0;
    }
    .food__category button{
        padding: 5px 15px;
        font-size: 0.7s;
    }
    .why__choose-us{
        padding-top: 0!important;
    }
    .fastFood__desc{
        font-size: 0.8rem;
        margin-bottom: 0;
    }
    .choose__us-title{
        font-size: 0.8rem;
    }
    
    .choose__us-desc{
        font-size: 0.7rem;
    }

    .testimonial__title{
        font-size:  1rem;
    }
    .testimonial__desc{
        font-size:  0.8rem;
    }
}
@media only screen and (max-width: 576px){
    .hero__content{
        text-align:center; 
        justify-content: center;
    }
    .hero__content h5{
        font-size: 1rem;
    }
    .hero__content p{
        font-size: 0.8rem;
        line-height: 25px;

    }
    .hero__title{
        font-size: 1.5rem;
        line-height: 45px;
    }
    .hero__btns{
        justify-content:center;
    }
    .hero__btns btn{
        padding: 5px 15px;
        font-size: 0.7rem;
    }
    .hero__service{
        justify-content: center;
    }
     .feature__item h5 {
        font-size: 0.9rem;
        margin-bottom: 0;
    }

} 